
IF OBJECT_ID('dbo.ufn_Permutations4', 'IF') IS NOT NULL
    DROP FUNCTION dbo.GetPermutationsCSV2008;
GO

CREATE FUNCTION [dbo].[GetPermutationsCSV2008] (@input NVARCHAR(50))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @result NVARCHAR(MAX) = N'';
    DECLARE @len INT = LEN(@input);

    IF @len = 0
        RETURN @result;

    ;WITH
    -- Numbers 1..50 (enough for our @input up to 50 chars)
    N1 AS (
        SELECT ROW_NUMBER() OVER (ORDER BY (SELECT 1)) AS n
        FROM sys.all_objects
    ),
    Numbers AS (
        SELECT n FROM N1 WHERE n <= @len
    ),
    -- Seed each permutation with one character and "remaining" = input without that char
    Permute AS (
        SELECT
            CAST(SUBSTRING(@input, n.n, 1) AS NVARCHAR(50)) AS built,
            CAST(STUFF(@input, n.n, 1, '') AS NVARCHAR(50)) AS remaining
        FROM Numbers n

        UNION ALL

        -- Recursively append each possible next character from "remaining"
        SELECT
            CAST(p.built + SUBSTRING(p.remaining, n2.n, 1) AS NVARCHAR(50)) AS built,
            CAST(STUFF(p.remaining, n2.n, 1, '') AS NVARCHAR(50)) AS remaining
        FROM Permute p
        -- IMPORTANT: no TOP in recursive part; just filter by length
        JOIN N1 n2
          ON n2.n <= LEN(p.remaining)
    )
    SELECT @result =
        STUFF((
            SELECT ',' + built
            FROM Permute
            WHERE LEN(remaining) = 0
            FOR XML PATH(''), TYPE
        ).value('.', 'nvarchar(max)'), 1, 1, '');

    RETURN @result;
END
