
-- Drop if exists (scalar UDF = 'FN')
IF OBJECT_ID('dbo.GetBaseCombination', 'FN') IS NOT NULL
    DROP FUNCTION dbo.GetBaseCombination;
GO


CREATE FUNCTION dbo.GetBaseCombination (@input NVARCHAR(4000))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    IF @input IS NULL OR LEN(@input) = 0
        RETURN N'';

    DECLARE @len INT = LEN(@input);
    DECLARE @result NVARCHAR(MAX);

    ;WITH
    N AS (
        SELECT TOP (@len) ROW_NUMBER() OVER (ORDER BY (SELECT 1)) AS n
        FROM sys.all_objects
    ),
    Raw AS (
        SELECT n, SUBSTRING(@input, n, 1) AS ch, UPPER(SUBSTRING(@input, n, 1)) AS keych
        FROM N
    ),
    Firsts AS (
        SELECT r.ch, r.keych,
               ROW_NUMBER() OVER (PARTITION BY r.keych ORDER BY r.n) AS rn
        FROM Raw r
    ),
    DistinctKeep AS (
        SELECT ch, keych
        FROM Firsts
        WHERE rn = 1
    )
    SELECT @result =
        (
            SELECT ch AS [text()]
            FROM DistinctKeep
            ORDER BY keych
            FOR XML PATH(''), TYPE
        ).value('.', 'nvarchar(max)');

    RETURN @result;
END
GO