@using WilPick.ViewModels;
@model WpAppUserViewModel;

@* @{
    ViewData["Title"] = "Home Page";
} *@

<div class="text-center">
    <h1 class="display-4">Welcome @Model.FirstName </h1>
    <p>You can use your agent code: <strong>@Model.AgentCode</strong> to recruit players.</p>
</div>
