@using WilPick.ViewModels;
@model DrawHolidayDetailViewModel;

@{
    ViewData["Title"] = "Draw Result";
}

<h1>Create Draw Result</h1>
<hr />

<div class="row">
    <div class="col-12">
        <form asp-action="CreateUpdateDrawHoliday" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="HolidayId" type="hidden" />

            <div class="form-group">
                <label asp-for="HolidayDate" class="form-label"></label>
                <input asp-for="HolidayDate" type="date" class="form-control" />
                <span asp-validation-for="HolidayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HolidayName" class="control-label"></label>
                <input asp-for="HolidayName"
                       class="form-control"
                       inputmode="text"/>
                <span asp-validation-for="HolidayName" class="text-danger"></span>
            </div>            

            <div class="form-group mt-2">
                <a asp-controller="Owner" asp-action="DrawHolidayHeader" class="btn btn-danger">Back</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}