@using Microsoft.AspNetCore.Identity;
@using Role = WilPick.Common.Roles;
@inject SignInManager<Users> signInManager;


<style>
    /* Make navbar list items visually highlight on hover and keyboard focus */
    .navbar-nav .nav-item {
        transition: background-color .15s ease-in-out;
        border-radius: .25rem;
        outline: none;
    }

    .navbar-nav .nav-item:hover,
    .navbar-nav .nav-item:focus {
        background-color: rgba(0, 0, 0, 0.05);
    }

    /* Ensure links don't get an ugly underline on hover/focus */
    .navbar-nav .nav-item .nav-link:hover,
    .navbar-nav .nav-item .nav-link:focus {
        text-decoration: none;
    }
</style>

<ul class="navbar-nav ms-auto">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item" >
            <a class="nav-link text-dark">@User.Identity.Name</a>
        </li>
    }    
    @if (signInManager.IsSignedIn(User))
    {
        if (User.FindFirst("Role")?.Value == (Role.Agent))
        {

            if (User.FindFirst("SwEnableFlag")?.Value == "1")
            {
                <li class="nav-item">
                    <a class="nav-link text-dark d-flex justify-content-between align-items-center"
                       href="#swMenu"
                       data-bs-toggle="collapse"
                       role="button"
                       aria-expanded="false"
                       aria-controls="s3Menu">
                        3D
                        <span class="ms-2">▾</span>
                    </a>
                    <ul class="collapse list-unstyled ps-3" id="swMenu">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Agent" asp-action="AgentPlayerSwBetHistory">Player's History Bet</a>
                        </li>
                    </ul>
                </li>
            }

            if (User.FindFirst("WilPickEnableFlag")?.Value == "1")
            {
                <li class="nav-item">
                    <a class="nav-link text-dark d-flex justify-content-between align-items-center"
                    href="#ApolPickMenu"
                    data-bs-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="ApolPickMenu">
                        APOLPICK
                        <span class="ms-2">▾</span>
                    </a>

                    <ul class="collapse list-unstyled ps-3" id="ApolPickMenu">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Agent" asp-action="AgentPlayerBetHistory">Player's History Bet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Transactions" asp-action="TodaysBet">Todays Bet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Transactions" asp-action="PlayerDrawResultsHeader">Draw Results</a>
                        </li>
                    </ul>
                </li>

            }
           
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Transactions" asp-action="PlayerLoadTransactions">Cash-IN </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Transactions" asp-action="CashOutTransactions">Cash-OUT </a>
            </li>            
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Agent" asp-action="AgentPlayerList">Player List</a>
            </li>

        }
        else if (User.FindFirst("Role")?.Value == (Role.Client))
        {
            if (User.FindFirst("SwEnableFlag")?.Value == "1")
            {
                <li class="nav-item">
                    <a class="nav-link text-dark d-flex justify-content-between align-items-center"
                    href="#s3Menu"
                    data-bs-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="s3Menu">
                        3D
                        <span class="ms-2">▾</span>
                    </a>
                    <ul class="collapse list-unstyled ps-3" id="s3Menu">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Transactions" asp-action="SwTodaysBet">S3 Bet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Transactions" asp-action="PlayerSwBetHistory">S3 History Bet</a>
                        </li>
                    </ul>
                </li>

            }

            if (User.FindFirst("WilPickEnableFlag")?.Value == "1")
            {
                <li class="nav-item">
                    <a class="nav-link text-dark d-flex justify-content-between align-items-center"
                    href="#ApolPickMenu"
                    data-bs-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="s3Menu">
                        ApolPick
                        <span class="ms-2">▾</span>
                    </a>

                    <ul class="collapse list-unstyled ps-3" id="ApolPickMenu">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Transactions" asp-action="TodaysBet">Todays Bet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Transactions" asp-action="PlayerBetHistory">History Bet</a>
                        </li>
                    </ul>
                </li>
            }

            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Transactions" asp-action="PlayerLoadTransactions">Cash-IN </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Transactions" asp-action="CashOutTransactions">Cash-OUT </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Transactions" asp-action="PlayerDrawResultsHeader">Draw Results</a>
            </li>



        }
        else if (User.FindFirst("Role")?.Value == (Role.Owner))
        {



            if (User.FindFirst("WilPickEnableFlag")?.Value == "1")
            {
                <li class="nav-item">
                    <a class="nav-link text-dark d-flex justify-content-between align-items-center"
                    href="#ApolPickMenu"
                    data-bs-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="ApolPickMenu">
                        APOLPICK
                        <span class="ms-2">▾</span>
                    </a>

                    <ul class="collapse list-unstyled ps-3" id="ApolPickMenu">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Owner" asp-action="SummaryBetReport">Summary Bet Report</a>
                        </li>                    
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Owner" asp-action="OwnerPlayerBetHistory">Player's History Bet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Owner" asp-action="DrawResultsHeader">Draw Results</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Owner" asp-action="DrawHolidayHeader">Draw Holiday</a>
                        </li>
                    </ul>
                </li>

            }

            if (User.FindFirst("SwEnableFlag")?.Value == "1")
            {
                <li class="nav-item">
                    <a class="nav-link text-dark d-flex justify-content-between align-items-center"
                    href="#swMenu"
                    data-bs-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="s3Menu">
                        3D
                        <span class="ms-2">▾</span>
                    </a>

                    <ul class="collapse list-unstyled ps-3" id="swMenu">                                     
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Owner" asp-action="OwnerPlayerSwBetHistory">Player's History Bet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Owner" asp-action="DrawSwResultsHeader">Draw Results</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Owner" asp-action="DrawHolidayHeader">Draw Holiday</a>
                        </li>
                    </ul>
                </li>
            }

            <li class="nav-item" >
                <a class="nav-link text-dark" asp-controller="Owner" asp-action="ClientList">Player List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Owner" asp-action="OwnerPlayerLoadTransactions">Cash-IN Trans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Owner" asp-action="OwnerCashOutTransactions">Cash-OUT Trans</a>
            </li>            
        }
        
        <li class="nav-item" tabindex="0">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>        
    }
    else
    {
        <li class="nav-item" >
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }

</ul>